<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/productos.css">
    <title>Productos - Tehcouse Colombia</title>
</head>
<body>
    <header>

        <nav>
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="#offers">Ofertas</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
                <li><a href="#">Iniciar sesion</a></li>
            </ol>
        </nav>

    </header>
    <main>
        
    </main>

    <footer>

        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>

        <p>@copyright 2022</p>
    </footer>
    <script src="https://kit.fontawesome.com/9c91a8f8fa.js" crossorigin="anonymous"></script>
    <script src="../Scripts/productos.js"></script>
</body>
</html>